<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>OPEN_WEATHER_API_KEY</key>
    <string>f5cb0b965ea1564c50c6f1b74534d823</string>
</dict>
</plist>
